[user]
    name = price
    email = price@eucleo.com
[core]
    editor = vim
	pager = less -x1,5
[diff]
    tool = vimdiff
[log]
   abbrevCommit = true
[alias]
    wow = log --pretty=format:\"%h %s\" --graph
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ $`echo $VAR` = \\\"$OLD\\\" ]]; then export $VAR=\\\"$NEW\\\"; fi\" $@; }; f "
    pl = pull --rebase
    aa = add --all
    dc = diff --cached
    di = diff
    pullff = pull --ff-only
    ls = log --oneline
    newslite = "!f() {\
                git diff-tree --no-commit-id --name-only -r  $1 $2;\
            };f"
    news = "!f() {\
                git diff --no-commit-id -r  $1 $2;\
            };f"
    addmod = "!f() {\
				git status | grep -i modified | cut -d' ' -f 4 | xargs git add;\
            };f"
[http]
	sslVerify = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
